!!! 5
%meta{ :charset => 'UTF-8' }
%title SizeWatcher Demo
%link{ :rel => 'stylesheet', :href => 'screen.css' }
#first
  %h1 First block of the <a href="https://github.com/arjaneising/SizeWatcher">SizeWatcher</a> demo
  %p This block is first when the body element's width is more than 1100px, or second if that's not the case.
#second
  %h1 Second block
  %p Only first if the body element is < 1100px. I have a width of 40%.
  .inner-one
    %h2 In the gray box if the inner width of the blue box is more than 350px.
    %p Before the <code>H2</code>! Did you notice everything is italic if the width of the <code>BODY</code> is below 1100px? It's done by adding a class!
%script{ :src => '../sizewatcher.js' }
%script{ :src => 'demo.js' }